/*
Nastaveni vlastnosti dokumentu
==============================

1) pocet znaku na radek cca 66
*/

.container {
  max-width: 30em; /* 1) */
  margin-left: auto;
  margin-right: auto;
}

/*
Typografie na miru pismu
========================
*/

body,
input,
select,
textarea,
button {
  font-family: 'Roboto', sans-serif;
}


h1, h2, h3 {
  font-family: 'Marcellus SC', serif;
  line-height: 1.5;
}

/*
Vyska radku na ruzne velkych breakpointech
-------------------------------------------
*/

html {
	font-size: 1.125em;
	line-height: 1.5;
}

@media only screen and (min-width: 20em) and (max-width: 40em) {
	html {
		line-height: 1.45;
    font-size: 1em;
	}
}

@media only screen and (max-width: 19.9em) {
	html {
		line-height: 1.4;
    font-size: 1em;
	}
}

/*
Stupnovani velikosti v pomeru 1,25
----------------------------------

http://www.modularscale.com/?1&rem&1.25&web&text
*/

h1,
.h1 {
	font-size: 2.441rem;
}

h2,
.h2 {
	font-size: 1.953rem;
}

h3,
.h3 {
	font-size: 1.563rem;
}

h4,
.h4 {
	font-size: 1.25rem;
}

h6,
h5,
.h5,
.h6 {
	font-size: 1rem;
}


small,
.text-small {
	font-size: 0.8rem;
  line-height: 1.3;
}
