/*
Typografie na miru pismu
========================
*/

body,
input,
select,
textarea,
button {
  font-family: 'Roboto', sans-serif;
}


h1, h2, h3 {
  font-family: 'Marcellus SC', serif;
  line-height: 1.5;
}
