/*
Stupnovani velikosti v pomeru 1,25
----------------------------------

http://www.modularscale.com/?1&rem&1.25&web&text
*/

h1,
.h1 {
	font-size: 2.441rem;
}

h2,
.h2 {
	font-size: 1.953rem;
}

h3,
.h3 {
	font-size: 1.563rem;
}

h4,
.h4 {
	font-size: 1.25rem;
}

h6,
h5,
.h5,
.h6 {
	font-size: 1rem;
}


small,
.text-small {
	font-size: 0.8rem;
  line-height: 1.3;
}
